### Maven ###
target/

### Eclipse ###
.settings/
.classpath
.project

### OS ###
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
*~

### Utility Output ###
check-dependency-updates.log
check-plugin-updates.log
check-property-updates.log

### Temporary Data ###
tmp/
